* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  /* Header */
  header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-color: grey;
      padding: 12px 18px;
  }
  /* .logo {
      padding: 5px;
  } */
   nav {
      /* text-align: right;
      flex: 0 0 600px;  */
      display: flex;
   }
  /* nav > a {
      padding-right: 10px;
      text-decoration: none;
  } */
  header a {
      display: flex;
      margin-left: 10px;
      padding: 4px 8px;
  }
  /* Main */
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
h3 {
    background-color: rgb(213, 185, 245);
    padding: 3px;
}
p {
    background-color: lightgrey;
    padding: 5px;
    padding-bottom: 100px;
}
.card {
    margin: 10px;
    max-width: 210px;
    justify-content: center;
}
  /* Footer */
  footer {
      background-color: grey;
      text-align: center;
      padding: 10px;
  }

  /* Media Queries */
@media screen and (max-width: 768px) {
  header > nav {
        display: none;
   }
    h3, p {
        font-size: 25px;
    }
    .card {
        max-width: 500px;
        flex-basis: 768px;
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 15px;
    }
}
